*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.content {
  display: grid;
  justify-content: stretch;
  align-items: stretch;
}

.parent-box2 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: minmax(52rem, 100vh);
  align-content: stretch;
  align-items: stretch;
  background-color: #2daeb02c;
}
