@forward "./sass/responsive.scss";

@font-face {
  font-family: var(--font-family-one);
  src: url("../public/fonts/britanica-semi-expanded-black.woff2")
    format("woff2");
}

:root {
  --font-family-one: Britanica, sans-serif;
  --font-family-two: sans-serif;
  --color-primary: #201021;
  --color-secondary: #eee3d9;
  --color-tertiary: #ff825a;
  --color-fourth: #0b2749;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: var(--font-family-one);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html {
  font-family: var(--font-family-one);
  font-size: 62.5%;
  scroll-behavior: smooth;

  @media only screen and (min-width: 2200px) {
    font-size: 113.5%;
  }
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0;
  margin: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: #e1d6cc;
  color: var(--color-secondary);
  transition: ease-in-out 0.4s;
}

$transition-theme: ease-in-out 0.4s;

@mixin bodyBgDark() {
  background-color: #201021;
  transition: $transition-theme;
}

html[data-theme="dark"] body {
  @include bodyBgDark();
}

[data-theme="dark"] body {
  @include bodyBgDark();
}

html.dark-theme body {
  @include bodyBgDark();
}

a {
  color: inherit;
  text-decoration: none;
  color: inherit;
  outline: none;
}

nav ul {
  list-style: none;
}

button {
  font-family: var(--font-family-one);
  width: auto;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: hsla(0, 0%, 0%, 0);
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
p {
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: normal;
}

span {
  color: inherit;
}

::selection {
  background-color: var(--color-tertiary);
  color: var(--color-primary);
}
/* 
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
